:root {
    /*Discord Color Palette*/
    /*4 main colors*/
    --white: #ffff;
    --indigo: #444DB5;
    --grey: #313337;
    --darkgrey: #17191A;

    --darkindigo: #303680; /*button hover*/
}

body {
    background-color: var(--grey)
}


/*Login Button*/
.custom-login-btn.MuiButton-contained {
    background-color: var(--indigo);
    color: white;
    width: 100%;
    border-radius: 30px;
}

.custom-login-btn.MuiButton-contained:hover {
    background-color: var(--darkindigo);
}

.custom-refresh-btn.MuiButton-contained {
    background-color: var(--indigo);
    color: white;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top:5px;
    display: block;
}


.custom-refresh-btn.MuiButton-contained:hover {
    background-color: var(--darkindigo);
}

.loginText{
    color: var(--white);
}

.discord-logo {
    margin-right: 8px;
    vertical-align: middle;
}

h5{
    color: var(--indigo);
}
.titleCol{
    font-family: Lato, Noto Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #444DB5;
    text-transform: uppercase;
    text-align:center;
}
.footerColor{
    color: var(--indigo);
    padding: 0;
    margin: 0
}
.FAQcolor{
    color: var(--indigo);
    font-weight: bold;
    font-size: 1.7rem;
}
.qa{
   color: var(--indigo);
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}
.descrip{
    color: var(--white);
    text-align: center;
    font-style: italic;
}

.descrip2{
    color:black;
    margin: 10px;
    padding: 10px;
}
